services:
  api:
    build: .
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - uploads_data:/app/app/uploads
    env_file:
      - .env
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: deliveryapi
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  uploads_data: